{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .input-group {
            width: 600px;
            margin: 50px auto;
        }
        .form-group  {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            width: 600px;
            margin: 50px auto;
        }
        .form-control {
            min-height: 38px;
            border-radius: 2px;
        }
        .input {
            min-height: 38px;
            border-radius: 2px;
        }
        .message {
            text-align: center;
            color: red;
        }
    </style>
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}

<h2 align="center">WELCOME TO THE HOME PAGE</h2>
<h3>Helloo {{name}} !!</h3>
<p>Sucessfully Logged into the page</p>
<div class = "LogoutButton" align="right">
    <form action="/logout">
        <button class="btn btn-secondary btn-lg" type="submit">LOGOUT</button>
    </form>
</div>
<div class="input_div">
    <form id="searchform"> 
        <p class='message' >Please choose the Type of Search</p>
        <div class="form-group">
            <select name="searchType" class="form-control" id="Select1">
              <option>isbn</option>
              <option>title</option>
              <option>author</option>
            </select>
        </div>
        <div class="input-group">
            <input type="text" name="search" class="input" placeholder="Search">
            <button class="submit" type="submit">Search</button>
        </div>
    </form>
</div>
<div id='searchresults'></div>

{% endblock %}