{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .login-form {
            width: 600px;
            margin: 50px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block heading %}
    REGISTRATION FORM
{% endblock %}

{% block body %}
        <div class="login-form">
            <form action="{{ url_for('register') }}" method="post">
                <div class="form-group">
                    <label for="name">UserName</label>
                    <input type="text" class="form-control" placeholder="name" required name="name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                   <input type="password" class="form-control" placeholder="password" required name="password">
                </div>
                
                <div class="form-group">
                    <label for="mail">Email_Id</label><br>
                    <input class="form-control" type="mail" placeholder="mail" required name="mail">
                </div>
                    
                <div class="form-group">
                    <label for="age">Age</label>
                    <input  type="number"  class="form-control" placeholder="age" required name="age">
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">Other</label>
                </div>
                <div class="form-group"> 
                   <label for="birthday">Date Of Birth</label>
                    <input type="date" class="form-control" placeholde="birthday" required name="birthday">
                </div>
                <button class="btn btn-primary btn-block" type="submit">REGISTER</button>
                <button type="submit" class="btn btn-primary btn-block" formaction='/auth'>LOGIN</button>
            </form>
            <div><h4 align="center">{{message}}</h4></div>
        </div>
{% endblock %}
