body {
    background-color: antiquewhite;
    margin:40px;
}
h1 {
    color: brown;
    text-align: center;
}
.col :hover{
        background-color: orange;
}
.space::before {
    content: "\21d2  Click here: ";
    font-weight: bold;
    padding: 2ch;
    color: crimson;
}
[class*="p-section-"] {
    margin: 1cm;
}
.p-sections {
    margin: 1ch;
    padding-bottom: 2cm;
}
.heading{
    padding: 2ch;
    color: darkmagenta;
}